@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700,800&display=swap');
html {
  font-size: 16px;
}
#root {
  font-family: 'Oswald', sans-serif;
}
.App{
  background-color: rgb(170, 188, 241);
  min-height: 100vh;
  height: auto;
  width: 100%;
}
.site_name{
  text-align: center;
  padding-top: 1.5rem;
  color: #d82c75;
  font-size: 3rem;
  font-weight: 500;
}
.surface{
  min-height: 100vh;
  height: auto;
  padding-bottom: 2rem;
  width: 80%;
  margin-left: 10%;
  background-color: rgb(247, 211, 226);
}
.title{
  text-align: center;
  height: 6rem;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2rem;
  color: #940f47;
  font-weight: 700;
  letter-spacing: -0.001rem;
  font-weight: 400;
  font-size: 2rem;
}
.change_trimestr{
  display: grid;
  padding-left: 10%;
  padding-right: 10%;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10%;
}
.trimestr{
  position: relative;
  cursor: pointer;
  width: auto;
  height: 20rem;
  box-shadow:0px 60px 100px 0px rgba(252, 252, 252, 0.2);
  -webkit-box-shadow:0px 60px 100px 0px #fcfcfce3;
  -moz-box-shadow:0px 60px 100px 0px rgba(252,252,252,0.2);
  border-radius: 3vh;
  opacity: 1;
  opacity: 1000ms;
}
.trimestrI{
  right: 0;
  transition: right 1500ms, opacity 1000ms, transform 300ms, box-shadow 300ms, background-color 200ms;
}
.trimestrII{
  opacity: 1;
  transition: opacity 1500ms,transform 300ms, box-shadow 300ms, background-color 200ms;
}
.trimestrIII{
  left: 0;
  transition: left 1500ms, opacity 1000ms, transform 300ms, box-shadow 300ms, background-color 200ms;
}
.trimestr:hover{
  box-shadow:0px 60px 100px 0px rgba(252, 252, 252, 0.3);
  -webkit-box-shadow:0px 60px 100px 0px rgba(252,252,252,0.3);
  -moz-box-shadow:0px 60px 100px 0px rgba(252,252,252,0.3);
  transform: scale(1.05);
}
.before_I{
  opacity: 0;
  right: 50%;
}
.before_II{
  opacity: 0;
}
.before_III{
  opacity: 0;
  left: 50%;
}
#I_trimestr{
  background-color: #4965fd;
}
#I_trimestr:active{
    background-color: #2848ff;
}
#II_trimestr{
  background-color: #cf933e;
}
#II_trimestr:active{
  background-color: #ce8928;
}
#III_trimestr{
  background-color: #e43c83;
}
#III_trimestr:active{
  background-color: #e22272;
}
.rome_number{
  width: 80%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  background-color: aliceblue;
  border-radius: 2.5vh;
  text-align: center;
  font-size: 8rem;
  color: #ffffff;
  font-weight: 600;
}
#I_numb{
  background-color: #8598ff;
}
#II_numb{
  background-color: #ffc87a;
}
#III_numb{
  background-color: #ff97c3;
}
.I_numb_text{
  text-align: center;
  color: white;
  font-size: 3rem;
}
#trim{
  transition: all 200ms;
  padding-bottom: 3rem;
}
.changeWeek{
  text-align: center;
  opacity: 1;
  transition: all 300ms;
  padding-top: 3rem;
  padding-bottom: 2rem;

}
.calc_button{
  min-width: 10rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  outline: none;
  height: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 5vh;
  background-color: rgb(127, 157, 245);
  /* background: linear-gradient(0deg, rgba(255,204,122,1) 0%, rgba(255,234,123,1) 100%); */
  font-size: 2rem;
  color: rgb(22, 34, 70);
  font-weight: 700;
  transition: all 300ms;
}
.calc_button:hover{
  background: rgb(207,151,62);
  /* background: linear-gradient(0deg, rgba(207,151,62,1) 0%, rgba(255,234,123,1) 100%); */
}
.calc_button:active{
  background: #cf933e;
}
.text_calc{
  text-align: center;
  color: #940f47;
  font-size: 2rem;
  font-weight: 400;
  padding-top: 4rem;
  padding-bottom: 3rem;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent; }
  ::-moz-scrollbar {
    width: 0;
    background: transparent; }
.fon_for_calc{
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);

  -webkit-filter: blur(100%);
    -moz-filter: blur(15px);
    filter: blur(100%);
    z-index: 2;
}
.calc{
  display: none;
  position: fixed;
  top: 15%;
  left: 20%;
  border-radius: 3vh;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
  width: 60%;
  background-color: #1a2b5f;
  box-shadow:0px 60px 100px 0px rgba(252, 252, 252, 0.1);
  -webkit-box-shadow:0px 60px 100px 0px rgba(252,252,252,0.1);
  -moz-box-shadow:0px 60px 100px 0px rgba(252,252,252,0.1);
  z-index: 5;
}
.flex_footer{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}
.week{
  cursor: pointer;
  margin: 1rem;
  text-align: center;
  height: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 5rem;
  width: 13rem;
  border-radius: 3vh;
  display: flex;
  flex-direction: row;
  opacity: 1;
  transition: transform 400ms, box-shadow 400ms, filter 400ms, opacity 1000ms;
  box-shadow:0px 10px 20px 0px rgba(252,252,252,0.2);
  -webkit-box-shadow:0px 10px 20px 0px rgba(252,252,252,0.2);
  -moz-box-shadow:0px 10px 20px 0px rgba(252,252,252,0.2);
}
.hide{
  opacity: 0;
}
.week:hover{
  transform: scale(1.1);

  box-shadow:0px 30px 30px 0px rgba(252,252,252,0.2);
  -webkit-box-shadow:0px 30px 30px 0px rgba(252,252,252,0.2);
  -moz-box-shadow:0px 30px 30px 0px rgba(252,252,252,0.2);
  filter: brightness(1.1);
}
.number_of_week{
  border-radius: 2.5vh;
  text-align: center;
  height: 4rem;
  color: white;
  font-size: 2.5rem;
  margin-top: 0.5rem;
  width: 4rem;
  background-color: #ff6347;
}
.week_text{
  height: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  line-height: 3rem;
  color: rgba(0, 0, 0, 0.74);
  font-size: 3rem;
}
.week_orr{

  padding-right: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    column-gap: 1rem;
    row-gap: 2vh;
    transition: opacity 700ms;
    opacity: 0;

}
.title_info_week{
  width: calc(100%-4rem);
  height: 3rem;
  font-size: 2rem;
  background-color: rgb(253, 150, 193);
  border-radius: 3vh;
  font-weight: 600;
  color: black;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.week_title{
  color: #500129;
  font-weight: bolder;
  letter-spacing: 0.08rem;
  font-size: 3rem;
  padding-bottom: 2rem;
}
#back_from_change_week{
  position: relative;
  left: 1rem;
  top: -2rem;
  margin-right: 0;
  margin-left: 0;
  height: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  min-width: 5rem;
  width: 5rem;
}
.contents{
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: black;
}
.contents:hover{
  color: orange;
}
.ol_about_week{
  margin-left: 2rem;
  padding-left: 1rem;
  text-align: left;
  margin-right: 2rem;
}
.ol_about_week > li{
  padding-bottom: 1rem;
}



.select_day{
  border: none;
  padding-left: 15%;
  text-align: center;
    background-color: #5d76fd;
    height: 3rem;
    width: auto;
    color: white;
    text-align: center;
    font-size: 2rem;
    border-radius: 2vh;
    cursor: pointer;
}
.flex_for_button{
  display: flex;

}
.button_calculation{
  margin-top: 1.5rem;
  min-width: 10rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  outline: none;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5vh;
  background-color: rgb(127, 157, 245);
  /* background: linear-gradient(0deg, rgba(255,204,122,1) 0%, rgba(255,234,123,1) 100%); */
  font-size: 1.5rem;
  color: rgb(22, 34, 70);
  font-weight: 700;
  line-height: 2rem;
  transition: all 300ms;
}
.button_calculation:hover{
  background-color: #ff97c3;
}
#edit_calc{
  padding-left: 1rem;
  padding-right: 1rem;
  color: white
}
#edit_calc__title{
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}
#edit_calc__sub_title{
  font-size: 1.5rem;
}
.input__radio_custom{
  cursor: pointer;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-color: #ff97c3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
}
.input__radio_custom:hover{
  background-color: #e43c83;
}
.radio_custom_selected{
  border-radius: 50%;
  position: relative;
  opacity: 1;
  height: 1.2rem;
  width: 1.2rem;
  background-color: #ffffff;
  transition: all 150ms;
}
.edit_calc__change_metod_calc{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 0.5rem;
}
#show_results{
  display: none;
}
.selected_grid{
  margin-top: 5%;
  display: grid;
  grid-template-columns: 15% 40% 20%;
  column-gap: 5%;
  padding-left: 7.5%;
}
.date_rod{
  display: grid;
  background-color: #e43c83;
  text-align: center;
  border-radius: 3vh;
  font-size: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}
#show_results{
  padding-left: 1rem;
    padding-right: 1rem;
    color: white;
}
#loading{
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#loading > img{
  height: 70%;
  animation: load 2s infinite linear;
}
#week_mes{
  display: grid;
  padding-left: 10%;
  padding-right: 10%;
  grid-template-columns: 1fr 1fr;
}
.date_rod_week{
  display: grid;
    background-color: #e43c83;
    text-align: center;
    border-radius: 3vh;
    font-size: 2rem;
    grid-template-columns: 70% 30%;
}

.back_position{
  background-position: inherit;
}
.mobile_back{
  display: none;
}
.edit_calc_change_metod_calc__text{
  font-size: 1rem;
}
.selected_grid_option3{
  display: grid;
  grid-template-columns: 30% 60%;
  column-gap: 10%;
}
.option3_week{
  background-color: #e43c83;
    text-align: center;
    border-radius: 3vh;
    font-size: 2rem;
}
@keyframes load {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1920px){

  .edit_calc_change_metod_calc__text{
    font-size: 2rem;
  }
  .input__radio_custom{
    height: 4rem;
    width: 4rem;
  }
  .radio_custom_selected{
    width: 2.5rem;
    height: 2.5rem;
  }
  .select_day{
    height: 4rem;
  }
  .selected_grid{
    margin-bottom: 5%;
  }
  .button_calculation{
    height: 4rem;
  }
}
@media only screen and (max-width: 1366px){
  .edit_calc_change_metod_calc__text{
    font-size: 1.5rem;
  }
  .selected_grid{
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .input__radio_custom{
    height: 3rem;
    width: 3rem;
  }
  .radio_custom_selected {
    height: 2rem;
    width: 2rem;
  }
  #week_mes{
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 1024px){
  .edit_calc_change_metod_calc__text{
    font-size: 1.5rem;
  }
  #week_mes{
    margin-bottom: 3rem;
  }
  .button_calculation{
    height: 3rem;
  }

  .change_trimestr{
    column-gap: 5%;
  }
  .edit_calc__change_metod_calc:first-child{
    font-size: 1.5rem;
  }
  .input__radio_custom{
    height: 3rem;
    width: 3rem;
  }
  .radio_custom_selected{
    height: 2rem;
    width: 2rem;
  }
}
@media only screen and (max-width: 500px){
  .title{
    font-size: 1.5rem;
    padding-left: 5%;
    padding-right: 5%;
  }

  .change_trimestr{
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2rem;
  }
  .week{
    width: 16.5rem;
  }
  .week_title{
    font-size: 2rem;
  }
  .changeWeek{
    padding-bottom: 0;
  }
  .title_info_week{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .calc{
    width: 90%;
    left: 5%;
  }
  .selected_grid{
    grid-template-columns: 18% 47% 30%;
    column-gap: 3%;
    padding-left: 0;
  }
  .select_day{
    padding-left: 5%;
  }
  .edit_calc__change_metod_calc > div {
    font-size: 1.5rem;
  }
  .input__radio_custom{
    height: 3rem;
    width: 3rem;
  }
  .radio_custom_selected {
    height: 2rem;
    width: 2rem;
  }
  .edit_calc__change_metod_calc{
    grid-template-columns: 70% 30%;
  }
  .button_calculation{
    height: 3rem;
  }
  #loading > img{
    width: 90%;
    height: auto;
  }
  #week_mes{
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
  }
  #back_from_change_week{
    display: none;
  }
  .mobile_back{
    display: flex;
  }
}
@media only screen and (max-width: 500px){
  #edit_calc__title{
    font-size: 1.5rem;
  }
  .input__radio_custom{
    width: 2rem;
    height: 2rem;
  }
  .radio_custom_selected{
    width: 1.5rem;
    height: 1.5rem;
  }
  .edit_calc__change_metod_calc > div {
    font-size: 1rem;
  }
  .select_day{
    height: 2.5rem;
  }
  .selected_grid{
    margin-bottom: 1rem;
  }
  .select_day{
    font-size: 1.5rem;
  }
  .button_calculation{
    margin-top: 0;
  }
  #week_mes{
    row-gap: 1rem;
    margin-bottom: 1rem;
  }
  #edit_calc__title{
    padding-bottom: 1rem;
  }
  .week{
    width: auto;
  }
  .site_name{
    font-size: 2.5rem;
  }
}

